#pd1 {
    position: absolute;
    transform: rotate(270deg);
    top: 100px;
}

#pd2 {
    position: absolute;
    transform: rotate(270deg);
    top: 100px;
    left: 50px;
}

#pd3 {
    position: absolute;
    transform: rotate(270deg);
    top: 100px;
    left: 100px;
}

#snr {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 100;
    display: block;
    color: white;
}

#ber {
    position: absolute;
    left: 100px;
    bottom: 10px;
    width: 100%;
    z-index: 100;
    display: block;
    color: white;
}

#dr {
    position: absolute;
    left: 200px;
    bottom: 10px;
    width: 100%;
    z-index: 100;
    display: block;
    color: white;
}